body{
	font-family: PSL-Text_Regular !important;
}

/*============edit default=============*/
.min-h{
	min-height: 200px!important;
}
.wp100{ width: 100%!important;}
.w100{
    width: 100px;
    height: 100px;
}
.w200{
    width: 200px;
    height: 200px;
}
.h100{
	 height: 100px!important;
}
.marginT10{margin-top: 10px!important;}
.marginT20{margin-top: 20px!important;}
.marginB10{margin-bottom: 10px!important;}
.marginB20{margin-bottom: 20px!important;}
.marginAuto{
	margin-left:auto;
	margin-right:auto;
}

.paddingT10{padding-top: 10px!important;}
.paddingB10{padding-bottom: 10px!important;}
.textCenter{text-align: center!important;}


.objectCenter{
    position: absolute!important;
    left: 0!important;
    right: 0!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.color-blue{
	color: #085b6b;
}
.borderBlue{
	border: 1px solid #31708f!important;
}
.text-center{
	text-align: center!important;
}
.text-blue{
	color: #085b6b!important;
}

/*============bg color=============*/
/**/
.bgHome{background-color: #085b6b;}
.logoHome{
    background-image: url('../icon/logoHome.png');
    background-repeat: no-repeat;
    background-size: contain;
    top:0px;
}
.nameLogo{
	width: 259px;
    height: 107px;
    background-image: url('../icon/nameLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative!important;
    left: 0!important;
    right: 0!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.bgW_login{
   
    background-color:#FFF; 
    width:90%;
    height:auto;
    margin-top: -60px;
    margin-left: auto!important;
    margin-right: auto!important;
	border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}

.imgAdmin{
	width: 100px;
    height:100px;
    background-image: url('../icon/admin.png');
    background-repeat: no-repeat;
    background-size: contain;
	z-index:9999;
	position:relative;
}

.login{
    position: relative!important;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

.bgW_login .form-horizontal .form-group{
    margin-left:  0px!important;
    margin-right:  0px!important;
}

.img-show{
	width:240px;
	height:120px;
	 background-color:#FF5733; 
	
}
.icon24{
	width: 24px;
	height: 24px;
}
.icon36{
	width: 36px;
	height: 36px;
}
.icon40{
	width: 40px;
	height: 40px;
}
.icon48{
	width: 48px;
	height: 48px;
}
.icon64{
	width: 64px;
	height: 64px;
}

.homeIcon{
	width: 22px;
    height: 22px;
    position: relative;
    z-index: 999;
    top: -22px;
    right: -20px;
}
.icon-play{
    background-image: url('../icon/play.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-buy{
    background-image: url('../icon/buy.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-new{
	width: 256px;
    height: 256px;
    background-image: url('../icon/play.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-add{
	background-image: url('../icon/add.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-book{
	background-image: url('../icon/book.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-bought{
	background-image: url('../icon/bought.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-check{
	background-image: url('../icon/check.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-coin{
	background-image: url('../icon/coin.png');
    background-repeat: no-repeat;
    background-size: contain;
}


.icon-closesoundRed{
	background-image: url('../icon/closesoundwhenoff.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-closesound{
	background-image: url('../icon/closesound.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-delete{
	background-image: url('../icon/delete.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-folder{
	background-image: url('../icon/foldericon2.png');
    background-repeat: no-repeat;
    background-size: contain;
}


.icon-mic{
	background-image: url('../icon/mic.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-news{
	background-image: url('../icon/news.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-news2{
	background-image: url('../icon/news2.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-sell{
	background-image: url('../icon/sell.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-sold{
	background-image: url('../icon/sold.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-sold1{
	background-image: url('../icon/sold1.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-text{
	background-image: url('../icon/text.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-download{
	background-image: url('../icon/download.png');
    background-repeat: no-repeat;
    background-size: contain;
}









/*btn*/
.sizeBtn button{width: 80px;}
.btn-back{
	color: #085b6b;
	background-color: #fff; 
	border-color: #085b6b;
}
.btn-info{
	color: #fff;
    background-color: #028aa4;
    border-color: #46b8da;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 8px 0;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 15px;
}


/*box*/
/*box*/
.box-80{
	width:80px; 
	height:80px; 
}

.box-90{
	width:90px; 
	height:90px; 
}

.box-camera{
	background-color:white; 
	margin-left:auto;
	margin-right:auto;    
	position: relative;
}

.contentStory{
	width: 95%!important;	
}

.divContent{
	padding-top: 60px; 
	width :100%;
	margin-left:auto; 
	margin-right:auto;
}



.area .nav {
  text-align:center;
}

.area .nav-tabs>li {
  float: none;
  display:inline-block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #FFF;
    cursor: default;
    background-color: #085b6b;
    border: 1px solid #31708f;
    border-bottom-color: transparent;
	
}

.nav>li>a{
	color: #085b6b;
}

.glyphicon {
    font-size: 30px;
}

.nav-tabs{
	border-bottom: 2px solid #31708f;
}

/*mystory-create*/
.box-img,
.mystory-create .box-img,
.mystory-create-m .box-img {
	 width:50%;
	 height:30%;
	 border: 1px solid #31708f;
	 position:  relative;
}
.box-img{
	 height:120px;
}
.bg-btn
.mystory-create .bg-btn,
.mystory-create-m .bg-btn{
	 background: gray;
	 border-radius: 30px;
	 height: 45px;
	 width: 45px;
}
.bg-btn i
.mystory-create .bg-btn i,
.mystory-create-m .bg-btn i{
	font-size:24px;
	margin-top:10.5px;
}

.btn-confirm{
	width:82px; 
	height:34px; 
	margin-left:auto; 
	margin-right:auto;
}

.box-text-number{
	width: 25px;
    height: 25px;
    background-color: #f8af30;
    border-radius: 2px;
    position: absolute;
    right: 0px;
    top: -26px;
}

.box-text-number p{
	color:white;
	line-height:25px;
}
.mystory-create-m .bg-btn{
	float: left;
    margin-left: 5px;
	
}

.mystory-create-m .bg-btn.bg-active{
	background-color: #f8af30!important;
}

.mystory-create-m .box-btn{
	width:255px; 
	height:45px;    
	margin-left:auto; 
	margin-right:auto;
}

/**/


.box-camera i{
	font-size:20px;
	position: absolute;
	left: 0;
	right: 0;
	top: 35px;
}

/*admin*/
.adminBtn{
	margin-bottom:8px; width:150px!important;
}

.adminPage #createBtn{
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.adminPage #editNewsBtn{
	margin-bottom:40px;
}
.adminPage .divBtn{
	border-radius: 5px;
	position: relative; 
	min-height: 300px!important; 
}

.admin-addNewsPage .divBtn,
.admin-addCategoryPage .divBtn{
	width:320px;
	background-color: #e46002!important; 
	border-radius: 5px;
	position: relative; 
	min-height: 200px!important; 
}




/*admin-manageNewsPage*/
.adminManageNewsPage .boxImgLogo,
.adminAddNewsPage .boxImgLogo{
  	width: 200px;
    height: 40px;
    background-color: #fef0be;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 4px 4px -0px #ebc43d;
    position: relative;
    z-index: 1;
    top: 15px;
}

.adminManageNewsPage .boxImgLogo p,
.adminAddNewsPage .boxImgLogo p{
	margin:0; text-align: center;
    line-height: 40px;
}

.adminManageNewsPage .icon-news2,
.adminAddNewsPage .icon-news2 {
 	position:  absolute!important; 
    top: 5px!important;
    left: -160px!important;
    margin: 0 auto!important;
    right: 0!important;
	z-index: 100!important;
}

.adminManageNewsPage .iconBtn .icon-add,
.adminManageNewsPage .iconBtn .icon-delete
{
	margin-top: 0px;
	position: absolute;
	top: 40px;
}

.adminManageNewsPage .iconBtn .icon-add{ right: 10px;}
.adminManageNewsPage .iconBtn .icon-delete{right: 50px;}
.adminManageNewsPage .borderBlue{border: 2px solid #31708f!important;}


/*admin news*/
.adminAddNewsPage .form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.adminAddNewsPage .form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.adminAddNewsPage .form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.adminAddNewsPage .form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.adminAddNewsPage .form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */
.adminAddNewsPage .blockAdmin{
	height: 350px;
	margin-bottom: 0px;
}

.adminAddNewsPage .divTextDetail{
	width: 90%;
    height: 280px;
    background-color: #FFF;
    margin: 0 auto;
    position: relative;
    top: 50px!important; 
    border-radius: 20px;
    box-shadow: -4px 4px 0px #a1a1a1;
}

.adminAddNewsPage .icon-add{
	position: relative;
    top: 5px;
	left: 5px;
}

.adminAddNewsPage .text-blue{
	position: relative;
    top: -16px;
    left: 35px;margin:0; bottom:0
}

.adminAddNewsPage #Detail{
	width: 90%;
    border-radius: 25px;
    background-color: #085b6b;
    color: #FFF;
	margin: 0 auto;
}

.adminAddNewsPage #showPic_news{
	width: 90%;
	background-color: #fff; 
	height:120px;
	margin:0 auto; margin-top:10px; 
}

.adminAddNewsPage .boxIconCamera{
	width:30px; margin:40px auto 0 auto;
}

.list-group-item.active{
	background-color: #5bc0de!important; 
}

.admin-manageNewsPage .list-group{
	border-top-width: 1px;
    border-left-width: 1px;
    border: 2px solid #085b6b;
    border-radius: 5px;
}

.list-group-item:first-child,
.list-group-item:last-child{
	border-radius: 0px!important; 
}

.list-group-item.active,
.list-group-item.active:hover{
	border-color:#FFF;
}


.blockAdmin{
	width:280px;
	min-height: 260px;
    border-radius: 15px;
    margin: 0 auto;
    /*border: 2px solid #085b6b;*/
    background: #dddddd;
    padding-top: 0px;
    position: relative;
    top: -35px;
	margin-bottom:20px;
}
.blockAdminInner{
	width:50%;
	/*background-color:green;*/
	height:120px;
	float:left 
}
.blockAdminBtn{
	width: 96px; 
	height:96px;
	padding: 15px 0 0 0; 
	background-color: #fff; 
	box-shadow: -5px 5px -0px #7fa4ab;;
	border-radius: 15px; margin:0 auto;
}
.blockAdminBtn p{
	margin-top:10px; 
	color:#085b6b; 
	font-size: 12px;
}


/*story*/

.myStoryPage .divBtn{
	/*width:320px;*/
	background-color: #bbd3de!important; 
	border-radius: 5px;
	position: relative; 
}

#showStory .row{
	/*width:270px!important; 
	border: 2px solid #085b6b!important; */
	padding-top:20px!important; 
}

#homeStory .boxImg,
#showStory .boxImg
 {
	padding:0
	/*width:270px!important; 
	border: 2px solid #085b6b!important; 
	padding-top:20px!important; 
	padding-bottom:20px;*/
}
#showStory .boxImg{
	padding-top: 10px;
}
#homeStory .boxImg img,
#showStory .boxImg img{
	width: 60px; 
	height: 100px;
	box-shadow: 3px 3px #888888;
	position: relative;
    z-index: 1;
}

#homeStory .boxImg .img{
 	height: 100px;
    width: 60px;
    padding: 9px;
    background: url('imgStory/img_00.png') ;
    background-size: 100% 100%!important; 
	background-repeat: no-repeat!important; 
	box-shadow: 3px 3px #888888;
	position: relative;
    z-index: 1;

}


#homeStory .boxImg p{
	margin-top:5px;
	font-size: 14px;
}


#btCerate{
	position: absolute;
	right: 0px;
}


#html_btn,
#html_btn2
 {
 display:none!important; 
}

.carousel-indicators{
	bottom:0px!important; 
}

.myselect{
	border: 1px solid #31708f;
}



.masterProfile{
	position: absolute;
    right: 5px;
    top: 5px;
    color: lightblue;
}

.masterProfile span{
	font-size:24px;
}

#showSlideNews img{
	height :180!important; 
	width: auto!important; 

}

#showSlideNews .imgSlide,
#showSlideNews .slideBg{
	height :180!important; 
	width: auto!important; 
	background-color: #FFF;
	background-size: 100% 100%!important; 
	background-repeat: no-repeat!important; 
}

/*home*/
.glyphicon-search{
	font-size: 15px!important; 
    position: relative!important; 
    top: 20px!important; 
    right: -110px!important; 
    width: 10px!important; 
    height: 10px!important; 
}


/*for web*/

@media only screen and (min-device-width: 900px){
	.homePage .divBtn{
		/*margin-top:50px;*/
	}
	
}
